In [1]:
import numpy as np
import pandas as pd
import matplotlib

matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Step1
"""Reading the csv file and storing as a data frame"""
df = pd.read_csv("/Users/Pramila Dalavai/Desktop/Project/advertising.csv")
print(df.head())

   Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  \
0                     68.95   35     61833.90                256.09
1                     80.23   31     68441.85                193.77
2                     69.47   26     59785.94                236.50
3                     74.15   29     54806.18                245.89
4                     68.37   35     73889.99                225.58

                           Ad Topic Line            City  Male     Country  \
0     Cloned 5thgeneration orchestration     Wrightburgh     0     Tunisia
1     Monitored national standardization       West Jodi     1       Nauru
2       Organic bottom-line service-desk        Davidton     0  San Marino
3  Triple-buffered reciprocal time-frame  West Terrifurt     1       Italy
4          Robust logistical utilization    South Manuel     0     Iceland

             Timestamp  Clicked on Ad
0  2016-03-27 00:53:11              0
1  2016-04-04 01:39:02              0
2  2016-03-13 20:35:42              0
3  2016-01-10 02:31:19              0
4  2016-06-03 03:36:18              0

In [3]:
# Step2
"""Now I have the data, lets check how much data is present within each feature"""
print(df.info())

"""I notice that each feature contains 1000 data and they dont have null values, If i had got null values i would 
further check how it had to be replaced """
print(df.duplicated().sum)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
Daily Time Spent on Site    1000 non-null float64
Age                         1000 non-null int64
Area Income                 1000 non-null float64
Daily Internet Usage        1000 non-null float64
Ad Topic Line               1000 non-null object
City                        1000 non-null object
Male                        1000 non-null int64
Country                     1000 non-null object
Timestamp                   1000 non-null object
Clicked on Ad               1000 non-null int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB
None
<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool>

In [4]:
# Step3
"""Getting the description of the features from data frame to understand how the data is spread"""
print(df.describe())
print(df.select_dtypes(include=['object']).columns)
print(df.select_dtypes(include=['int64', 'float64']).columns)
"""I also notice that there are 4 catagorical features and 6 quantitative features """

       Daily Time Spent on Site          Age   Area Income  \
count               1000.000000  1000.000000   1000.000000
mean                  65.000200    36.009000  55000.000080
std                   15.853615     8.785562  13414.634022
min                   32.600000    19.000000  13996.500000
25%                   51.360000    29.000000  47031.802500
50%                   68.215000    35.000000  57012.300000
75%                   78.547500    42.000000  65470.635000
max                   91.430000    61.000000  79484.800000

       Daily Internet Usage         Male  Clicked on Ad
count           1000.000000  1000.000000     1000.00000
mean             180.000100     0.481000        0.50000
std               43.902339     0.499889        0.50025
min              104.780000     0.000000        0.00000
25%              138.830000     0.000000        0.00000
50%              183.130000     0.000000        0.50000
75%              218.792500     1.000000        1.00000
max              269.960000     1.000000        1.00000
Index(['Ad Topic Line', 'City', 'Country', 'Timestamp'], dtype='object')
Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Male', 'Clicked on Ad'],
      dtype='object')

'I also notice that there are 4 catagorical features and 6 quantitative features '

In [5]:
# Step4
"""Summarizing the Numerical Values"""
numerical_val = ['Daily Time Spent on Site', 'Age', 'Area Income',
                 'Daily Internet Usage', 'Male', 'Clicked on Ad']
print(df[numerical_val].describe())
print(df['Area Income'].describe())
"""OBSERVATIONS:
    1) Daily time Spent on site is between 32 min to 91 min
    2) Age --> mean is 36 and ranges between 19 to 61 --> Hence site is targeting adults
    3) Male --> 48% are male who visit the site and rest 52% are female --> Since we see almost equal values
                I can say that the site is targeting both
    4) Area Income --> Since the mean is 55000 , the site is targeting rich customers
    """

       Daily Time Spent on Site          Age   Area Income  \
count               1000.000000  1000.000000   1000.000000
mean                  65.000200    36.009000  55000.000080
std                   15.853615     8.785562  13414.634022
min                   32.600000    19.000000  13996.500000
25%                   51.360000    29.000000  47031.802500
50%                   68.215000    35.000000  57012.300000
75%                   78.547500    42.000000  65470.635000
max                   91.430000    61.000000  79484.800000

       Daily Internet Usage         Male  Clicked on Ad
count           1000.000000  1000.000000     1000.00000
mean             180.000100     0.481000        0.50000
std               43.902339     0.499889        0.50025
min              104.780000     0.000000        0.00000
25%              138.830000     0.000000        0.00000
50%              183.130000     0.000000        0.50000
75%              218.792500     1.000000        1.00000
max              269.960000     1.000000        1.00000
count     1000.000000
mean     55000.000080
std      13414.634022
min      13996.500000
25%      47031.802500
50%      57012.300000
75%      65470.635000
max      79484.800000
Name: Area Income, dtype: float64

'OBSERVATIONS:\n    1) Daily time Spent on site is between 32 min to 91 min\n    2) Age --> mean is 36 and ranges between 19 to 61 --> Hence site is targeting adults\n    3) Male --> 48% are male who visit the site and rest 52% are female --> Since we see almost equal values\n                I can say that the site is targeting both\n    4) Area Income --> Since the mean is 55000 , the site is targeting rich customers\n    '

In [6]:
# STEP 5
"""Summarizing the Categorical Values"""
catagorical_val = ['Ad Topic Line', 'City', 'Country', 'Timestamp']
print(df[catagorical_val].describe())
print(df['Country'].describe())
"""OBSERVATIONS
    1) Ad Topic Line --> All the data values are unique 
    2) City ---> Consists of 969 unique values out of 1000 
    3) Country ---> Consists of 237 unique elements and the country france is repeated 9 times, Hence needs to be
                    further investigated
    4) Timestamp ---> Can be used to create new features"""

                            Ad Topic Line       City Country  \
count                                1000       1000    1000
unique                               1000        969     237
top     Upgradable logistical flexibility  Lisamouth  France
freq                                    1          3       9

                  Timestamp
count                  1000
unique                 1000
top     2016-03-21 08:13:24
freq                      1
count       1000
unique       237
top       France
freq           9
Name: Country, dtype: object

'OBSERVATIONS\n    1) Ad Topic Line --> All the data values are unique \n    2) City ---> Consists of 969 unique values out of 1000 \n    3) Country ---> Consists of 237 unique elements and the country france is repeated 9 times, Hence needs to be\n                    further investigated\n    4) Timestamp ---> Can be used to create new features'

In [7]:
# STEP 6
"""Analysing Country Variable"""
print(pd.crosstab(index=df['Country'], columns='freq').sort_values(['freq'], ascending=False).head(20))
"""OBSERVATION:
    1) Already 237 unique elements with the France having maximum frequency
    2) So these unique elements wont help to establish valuable relationships, Hence I can ignore this column too
    3) So out of 4 categorical values I will only use Timestamp feature to further create new features and ignore the other 3"""

col_0                   freq
Country
France                     9
Czech Republic             9
Afghanistan                8
Australia                  8
Turkey                     8
South Africa               8
Senegal                    8
Peru                       8
Micronesia                 8
Greece                     8
Cyprus                     8
Liberia                    8
Albania                    7
Bosnia and Herzegovina     7
Taiwan                     7
Bahamas                    7
Burundi                    7
Cambodia                   7
Venezuela                  7
Fiji                       7

'OBSERVATION:\n    1) Already 237 unique elements with the France having maximum frequency\n    2) So these unique elements wont help to establish valuable relationships, Hence I can ignore this column too\n    3) So out of 4 categorical values I will only use Timestamp feature to further create new features and ignore the other 3'

In [8]:
# STEP 7
"""Feature Creation"""
# Extracting datetime variables using timestamp column
# print(df['Timestamp'].describe())
df['Timestamp'] = pd.to_datetime(df['Timestamp'])
# Converting timestamp column into datatime object in order to extract new features
df['Month'] = df['Timestamp'].dt.month
# Creates a new column called Month
df['Day of the month'] = df['Timestamp'].dt.day
# Creates a new column called Day of the month
df['Hour'] = df['Timestamp'].dt.hour
# Creates a new column called Hour
df["Day of the week"] = df['Timestamp'].dt.dayofweek
# Creates a new column called Day of the week with sunday as 6 and monday as 0
# Dropping timestamp column to avoid redundancy
df = df.drop(['Timestamp'], axis=1)  # deleting timestamp
# print(df['Day of the month'].head())

In [9]:
# STEP 8
"""Finding correlation between values"""
figure = plt.figure(figsize = (15,20))
sns.heatmap(df.corr(), cmap='Oranges', annot = True) # Degree of relationship i.e correlation using heatmap
#plt.show()
"""OBSERVATIONS:
1) Daily time spent and Daily Internet usage has highest correlation and hence these features can be merged"""

'OBSERVATIONS:\n1) Daily time spent and Daily Internet usage has highest correlation and hence these features can be merged'